.weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-image: url("images/daytimeBackground.jpeg");
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.transbox {
  background-color: #ffffff;
  border-radius: 10px;
  opacity: 0.6;
  padding: 20px;
}

.current-weather {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: black;
  font-size: 64px;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  top: -34px;
}

.btn {
  background-color: #709fb0;
  border: #709fb0;
}
.tempDetails {
  border-left: 1px solid black;
}
.forecastHeader {
  margin-top: 15px;
  font-size: 20px;
  color: #000000;
  line-height: 28px;
  font-weight: 500;
  text-transform: capitalize;
}
.daily-forecast {
  text-align: center;
  margin-top: 15px;
  font-weight: 300;
}
.daily-forecast img {
  height: 64px;
  width: 64px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
h1 {
  font-size: 45px;
  color: #000000;
  line-height: 28px;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 5px;
}

ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000000;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
